html, body {
    height: 100%;
    width: 100%;
}
body {
    position: relative;
    text-align: center;
    background-color: #282c37;
}
.btn {
    width: 90%;
}
main {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
